@media screen and (min-width: 768px){
    .date-selector {
        margin-top: 6px;
        margin-right: 15px;
        width: 16vh;
    }
    .navbar-fixtures {
        border-radius: 1.5em;
    }
}

.blinker {
    display: inline;
    animation: blink-animation 2s steps(3, start) infinite;
    color: #c00;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

.live {
    color: #c00;
}

.time {
    color: darkgrey;
}

.table-column-1 {
    width: 7%;
}
.table-column-2 {
    width: 7%;
    color: #c00;
}
.table-column-3 {
    width: 10%;
}
.table-column-4 {
    width: 20%;
}
.table-column-5 {
    width: 8%;
}
.table-column-6 {
    width: 20%;
}
.table-column-7 {
    width: 8%;
    color: darkgrey;
}

.table>thead>tr>th {
    background-color: limegreen;
    border-bottom: 2px solid darkgreen;
    color: seashell;
}

.flag {
    width: 2.35em;
}

.card-home {
    height: 15px;
    margin-bottom: 0.3em;
    padding-right: 0.2em;
}

.card-away {
    height: 15px;
    margin-bottom: 0.3em;
    padding-left: 0.2em;
}

.card {
    height: 15px;
    margin-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.ball {
    height: 18px;
    margin-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.arrow {
    height: 15px;
    margin-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.table>tbody+tbody {
    border-top: none;
}

.table > thead > tr .vert-mid {
    vertical-align: middle;
    color: black;
    font-size: 32px;
}

.logo {
    width: 100px;
}

.match-page-left {
    text-align: left;
    width: 50%;
}

.match-page-right {
    text-align: right;
    width: 50%;
}

.match-page-teams {
    margin-bottom: 2vh;
}

.match-page-info {
    text-align: center;
}

.match-page-header {
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    margin-bottom: 2vh;
    text-align: center;
}
.table-hover > tbody > tr.match-page-header:hover {
    background-color: lightgray;
}
.table-hover > tbody > tr:hover {
    background-color: lightgray;
}
.match-page-timedate {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    color: darkgray;
}

@media screen and (max-width: 992px){
    .match-page-score {
        padding-top: 1em;
        font-size: 32px;
    }
}

@media screen and (max-width: 425px){
    .match-page-score {
        padding-top: 2em;
        font-size: 24px;
    }
}

.match-page-inline {
    display: inline;
}

.related-player {
    color: darkgray;
}

.cursor-pointer {
    cursor: pointer;
}

.table>thead:first-child>tr:first-child>th {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.goal-type {
    color: darkgrey;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: none;
}
.nav-tabs > li > a {
    color: seashell;
    border-radius: 5px 5px 5px 5px;
}
.nav > li.inline-block {
    display: inline-block;
}

.team-link {
    color: #333;
}