html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #eee;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
      margin-bottom: 2vh;
}

@media (min-width: 768px) {
    .stats-content {
        width: auto;
    }
    .flex-wrapper {
        height: 200px;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .stats-content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .stats-content {
        width: 1170px;
    }
}