.stats-menu {
    background-color: white;
}
.stats-menu-country {
    text-align: center;
    font-weight: 700;
}
.stats-menu-league {
    border-top: none;
}
.stats-menu-league:hover {
    background-color: lightgray;
}
.stats-menu-logo {
    height: 32px;
}
.list-group-item {
    padding: 5px 10px;
}

.alert {
    padding: 10px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px){
    .loader {
        margin-top: 20vh;
    }
}

.table>thead:first-child>tr:first-child .country-stats-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.table>thead:first-child>tr:first-child .first {
    border-top-left-radius: 1.5em;
}
.table>thead:first-child>tr:first-child .last {
    border-top-right-radius: 1.5em;
}

.country-team-logo {
    width: 25px;
    margin-right: 1em;
}
.player-team-logo {
    width: 25px;
}

.team-cl {
    background-color: #dff0d8;
}
.team-el {
    background-color: #d9edf7;
}
.team-relegation {
    background-color: #f2dede;
}

.position {
    width: 5%;
}

.player-column-2 {
    width: 10%;
}
.player-column-3 {
    width: 5%;
}
.player-column-4 {
    width: 10%;
}
.player-column-5 {
    width: 10%;
}
.player-column-6 {
    width: 10%;
}

.cell-inline {
    display: inline;
}

.form-win {
    display: inline-block;
    width: 15%;
    color: white;
    text-align: center;
    background-color: limegreen;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15%;
}

.form-loss {
    display: inline-block;
    width: 15%;
    color: white;
    text-align: center;
    background-color: red;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15%;
}

.form-draw {
    display: inline-block;
    width: 15%;
    color: white;
    text-align: center;
    background-color: orange;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15%;
}

@media screen and (max-width: 992px){    
    .form-column {
        width: 25%;
    }
}

@media screen and (max-width: 768px){    
    .form-column {
        width: 25%;
    }
}

@media screen and (max-width: 991px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}