.inline {
    display: inline;
}

.venue-capacity {
    color: grey;
}

.team-name {
    color: #333;
    margin-top: 3vh;
}

.table-row {
    margin-bottom: 2vh;
}
.table-row-long {
    margin-bottom: 2vh;
    margin-top: 3vh;
}

.team-link {
    color: #333;
}

.team-page-logo {
    padding-top: 2vh;
}

.team-card {
    width: 14px;
    padding-bottom: 3px;
}

.match-page-header {
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: bold;
}

.player-image {
    border: 2px solid forestgreen;
    border-radius: 10px;
    margin-top: 3vh;
}

.player-page-flag {
    display: inline;
}
.player-page-logo {
    margin-top: 3vh;
}

.font-16 {
    font-size: 16px;
}