.inline {
    display: inline;
}

.venue-capacity {
    color: grey;
}

.team-name {
    color: #333;
}

.table-row {
    margin-bottom: 2vh;
}

.team-link {
    color: #333;
}

.team-page-logo {
    padding-top: 2vh;
}

.team-card {
    width: 14px;
    padding-bottom: 3px;
}

.match-page-header {
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: bold;
}

.games-date {
    width: 3%;
    color: darkgray;
}

.team-short {
    width: 30%;
}