.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #F2F7F9;
  border-right: 1px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.footer {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 1vh;
  background-color: #222;
  color: gainsboro;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  .footnote {
    padding-top: 1em;
  }
  .fix-line {
    height: 80px;
  }
}
@media screen and (max-width: 996px) {
  h2 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    margin-top: -1vh;
  }
}

h2 {
  color: yellowgreen;
}

.author-name {
  margin-top: 1em;
}