.navbar {
    margin-bottom: 2vh;
    border-radius: 0;
}
.navbar-brand {
    font-size: 20px;
    color: greenyellow!important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: greenyellow;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: greenyellow;
}

.logged-in > a{
    color: white;
    cursor: unset;
}
.navbar-inverse .navbar-nav>.logged-in >a {
    color: white;
    cursor: auto;
}